body {
    background-color: seashell;
    color: grey;
}
header {
    background-color: gray;
    color: seashell;
}
main {
    margin: 20px;
    padding: 5px;
}
.current-weather {
    background-color: skyblue;
    color: seashell;
}

.forcast-card{
    border: solid;
    background-color: skyblue;
    color: seashell;
    float: left;
    margin-left: 20px;
    padding: 10px;
}