body {
    background-color: seashell;
    color: grey;
}
header {
    background-color: gray;
    color: seashell;
}
main {
    margin: 20px;
    padding: 5%;
}
div {
    padding:10px
}

.current-weather {
    background-color:cornflowerblue;
    color: seashell;
}

.forcast-card{
    border: solid;
    background-color: cornflowerblue;
    color: seashell;
    float: left;
    margin: 1%;
}

#city-search-btn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}
